<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">


    <title> {% block title %} {% endblock %} </title>
    <link href="//fonts.googleapis.com/css?family=Lemon" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//djangogirlstaipei.github.io/assets/css/style.css" rel="stylesheet" type="text/css">


</head>
<body>
<a href="/">home</a>
<a href="/add">add</a>


    {% block content %} {% endblock %}


</body>
</html>